.form {
    margin-left: 70px!important;
}

#search {
    margin-left: 220px!important;
    width: 750px!important;
}

#inputSec {
    display: flex!important;
}

#savedPage {
    margin-left: 670px!important;
}

